* {
  box-sizing: border-box;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div {
  border: 1px solid blue;
  height: 300px;
  width: 300px;
}
h3{
  color: green;
  font-weight: bold;
  font-style: Helvetica;
}